extends ../layout

block content

  table(class='table')
    thead
      tr
        th ID
        th Problem
        th Submitter
        th Result
        th Time
        th Memory
        th Language
        th File size
        th Submit time
        th Judge time
    tbody
      tr
        th #123
        td #500
        td Somebody
        td 100
        td 1000ms
        td 50MB
        td C++
        td 3kb
        td Somewhen
        td somewhen

  textarea(class='code-area', disabled) Code here
  
  div(class='text-center')
    button(class='btn btn-danger') Hack this Code!

  h5 Details

  div(class='card')
    div(class='card-header') Test #1
    div(class='card-body')
      b Input:
      pre input here
      
      b Output:
      pre output here

      b Result:
      pre result here
