extends ../layout

block content
    div(class='card')
        div(class="card-body")
            form(action=`/user/${cur_user.id}/edit`, method="post")
                h3(class='card-title') Edit your Profile
                div(class='form-group')
                    lable(for="username") Username
                    input(type="text", id="username", name="username", value=cur_user.username)
                div(class='form-group')
                    lable(for="email") Email
                    input(type="text", id="email", name="email", value=cur_user.email)
                div(class='form-group')
                    lable(for="old-password") Old password
                    input(type="password", id="old-password", name="old_password")
                div(class='form-group')
                    lable(for="new-password") New password
                    input(type="password", id="new-password", name="password")
                button(class='btn btn-primary') Submit