extends ../layout

block content

  table(class='table')
    thead
      tr
        th ID
        th Problem
        th Hacker
        th Owner
        th Result
        th Submit time
        th Judge time
    tbody
      tr
        th #123
        td #500
        td Somebody
        td Somebody
        td Somewhen
        td somewhen

  textarea(class='code_area', disabled) Code here
  
  h5 Details

  div(class='card')
    div(class='card-header') Extra Test
    div(class='card-body')
      p input:
      pre input here
      
      p output:
      pre output here

      p result:
      pre result here
