extends ../layout

block content
    table(class='table')
      thead
        tr
          th(scope='col') #
          th(scope='col') Username
          th(scope='col') Quote
          th(scope='col') Rating
      tbody
