extends ../layout

block content

  table(class='table table-bordered')
    thead
      tr
        th(scope='col') #
        th(scope='col') Problem
    tbody
      each problem in problems
        tr
          th(scope='row')= problem.id
          td
            a(href=`/problems/${problem.id}`)=problem.title
  
  h5 Create your own problem
  form(action="/problems/create", method="get")
    button(class='btn btn-primary') Go Create Problem
        