extends layout

block content
  div(class='row')
    div(class='col')
      div(class='card')
        div(class='card-body')
          h5(class='card-title') Login
          form(method='post')
            div(class='form-group')
              label(for='input-username') Username
              input(type='text', class='form-control', id='input-username', name='username', required)
            div(class='form-group')
              label(for='input-password') Password
              input(type='password', class='form-control', id='input-password', name='password', required)
            button(type='submit', class='btn btn-primary') Login

    div(class='col')
      div(class='card')
        div(class='card-body')
          h5(class='card-title') Register
          form(method='post', action="/registes")
            div(class='form-group')
              label(for='input-email') Email
              input(type='email', class='form-control', id='input-email', name='email', required)
            div(class='form-group')
              label(for='input-username') Username
              input(type='text', class='form-control', id='input-username', name='username', required)
            div(class='form-group')
              label(for='input-institution') Institution
              input(type='text', class='form-control', id='input-institution', name='institution')
            div(class='form-group')
              label(for='input-password') Password
              input(type='password', class='form-control', id='input-password', name='password', required)
            button(type='submit', class='btn btn-primary') Register
